
#map {
  height: 1000px;
  width:1000px;
  text-align: center;
}

#bar {
  height: 400px;
  width: 400px;
  }

.bg-custom {
    background-color: #336666 !important;
}

.navbar {
  border-radius: 0 !important;
}

.jumbotron {
  background-color: #339999 !important;
  height: 10vh;
  margin-bottom: 0;
  border-radius: 0 !important;
}

div.row {
  margin: 10px;
  border: 0px 1px 1px 1px solid #ccc;
  float: left;
  padding: 10px;
  text-align: left;
  width: 100%;
  height: auto;
}

.dropdown-menu {
  border-radius: 0 !important;
  background-color: #339999 !important;
}

.dropdown-item {
  background-color: #339999 !important;
}

#left {
  height: 70vh;
  border:1px #000000;
  display: block;
  column-span: 8;
}

#top-right {
  height: 35vh;
  border:1px #000000;
  display: block;
}

#bottom-right {

  height: 35vh;
  border:1px #000000;
  display: block;
}

a {
  color: #000000;
  text-decoration: none !important; 
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #336666;
  color: #000000;
  text-align: center;
}

.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}

.legend .min {
  float: left;
  font-size: 10px;
  font-weight:normal;
}

.legend .med {
  float:center;
  font-size: 10px;
  font-weight:normal;
}

.legend .max {
  float: right;
  font-size: 10px;
  font-weight:normal;
  position:relative;
  top:-10px
}

h1 {
  text-align: center;
}

.factorButton {
  background:#e1f5db;
  border: 1px solid #1d79b4;
  font-weight:bold;
  color: black;
  padding: 10px 24px;
  cursor: pointer;
  float: left; /* Float the buttons side by side */
  width:20%;
  height:50px;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.factorButton:hover {
  background:#1d79b4;
  color:white
}

.factorButton:focus {
  background:#1d79b4;
  color:white
}

.tooltip {
  padding: 0px 5px 0px 5px;
  border:0px;
  line-height:50%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: grey;
  border-radius: 4px;
  position:absolute
}