<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Changing world demographics of the past 70 years</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-custom">
        <!-- Left at default -->
        <div class="container">
            <!-- Within navbar to remove horizontal padding at breakpoints below specified -->
            <!-- Create hamburger -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!--tells bootstrap what to put in drop down menu -->
                <ul class="navbar-nav ml-auto">
                    <!--puts menu items to right of navbar-brand -->
                    <li class="nav-item">
                        <a class="nav-link" href="landing_page.html">Home Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="jumbotron vertical-center" style="padding-top: 30px;">
        <div class="container text-center" id="teammembers">
            <h1>Team members</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row borders">
            <div class="col-lg-6 col-xl-4" id="left" style="padding-right:20px; border-right: 1px solid #000000; float: left; font-size: smaller;">
                <h2>About Us</h2>
                <p>On the surface we’re a bit of an unusual match-up – an accountant, an emerging researcher and a teaching associate in neuroscience. Still, there’s one thing that makes us work and that’s our love of numbers.  We all work with them and we really, really love them! That and did we mention we’re doing a Data Analytics bootcamp together?</p>
                <br>
                <h2>Why We Did It</h2>
                <p>When we were asked to come up with a theme, with everything that’s been going on in 2020, it was hard to not think of Covid-19 and its devastating impact on the world’s population. This then got us to thinking about Australia’s historical population growth and ABS predictions in 2019 that we’re set to double our population by 2066. I mean, how is this happening? Is it the same in every country? Whilst immigration has and will no doubt continue to drive population growth in Australia, people are coming from somewhere.  We wanted the know where. So, like all good data nerds, we went looking for data and found the 2019 United Nations (UN) World Population Prospects, chock full of demographic indicators. We crunched it together and here’s our data viz “One Pager”.</p>
                <br>
                <h2>How We Did It</h2>
                <p>As with all data projects it starts with a huge amount of upfront planning and then quickly becomes about the tech. Boy have we used some tech! We started with our data source, a few data sets from the 2019 United Nations (UN) World Population Prospects, loaded them into Pandas and started crunching (yes, that is the technical term) </p>
            </div>
            <div class="col-lg-6 col-xl-8">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-1">
                        <img alt="Yann" src="../images/Yann.png" class="img-fluid">
                        <p>Things you should know about Yann :</p>
                            <ul type="disc" style="font-size:small;">
                                <li>It’s all about the stories in the numbers</li>
                                <li>I love a good process. Who doesn’t?</li>
                                <li>Coffee, chocolate, cheese and ice cream – all major food groups</li>
                                <li>Born in Melbourne I’ve lived my life across the globe. These days I’m happiest off grid</li>
                                <li>I’m a sucker for a rescue farm animal – 3 dogs, 17 sheep, 4 cows, a steer and counting</li>
                                <li>I love traveling, especially off the beaten track. Ladakh, Bhutan, Brunei, the Sahara, the Serengeti … still planning, despite 2020 and Covid-19</li>
                                <li>I’m known for my love a good chat … well, any chat really. I could talk all day</li>
                            </ul>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <img alt="Michelle" src="../images/Michelle.png" class="img-fluid">
                        <p>Things you should know about Michelle :</p>
                            <ul type="disc" style="font-size:small;">
                                <li>It’s all about the stories in the numbers</li>
                                <li>I love a good process. Who doesn’t?</li>
                                <li>Coffee, chocolate, cheese and ice cream – all major food groups</li>
                                <li>Born in Melbourne I’ve lived my life across the globe. These days I’m happiest off grid</li>
                                <li>I’m a sucker for a rescue farm animal – 3 dogs, 17 sheep, 4 cows, a steer and counting</li>
                                <li>I love traveling, especially off the beaten track. Ladakh, Bhutan, Brunei, the Sahara, the Serengeti … still planning, despite 2020 and Covid-19</li>
                                <li>I’m known for my love a good chat … well, any chat really. I could talk all day</li>
                            </ul>
                    </div>    
                    
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <img alt="Susov" src="../images/Susov.png" class="img-fluid">
                        <p>Things you should know about Susov :</p>
                            <ul type="disc" style="font-size:small;">
                                <li>Researcher</li>
                                <li>Love to learn new things</li>
                                <li>Love to cook different cuisines. I make the best pizza!</li>
                                <li>I will watch any live sports that is on TV. </li>
                                <li>Road trips are the best thing ever!</li>
                            </ul>
                    </div>
                        
                </div>        
                
            </div>
        </div>    

        
        <div class="row" id="footer">
            <div class="container text-center">
                <p> Data sourced from United Nations, Department of Economic and Social Affairs, Population Division (2019). World Population Prospects 2019, Online Edition. Rev. 1.</p>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/image-map/dist/image-map.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/tech.js"></script>

</body>
</html>