<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>World Demographics</title>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
        <!-- Left at default -->
        <div class="container">
            <!-- Within navbar to remove horizontal padding at breakpoints below specified -->
            <!-- Create hamburger -->
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- tells bootstrap what to put in drop down menu  -->
                <ul class="navbar-nav ml-auto">
                    <!-- puts menu items to right of navbar-brand  -->
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tech">Tech</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron vertical-center">
        <div class="container text-center" id="teammembers">
            <br>
            <h2><a class="mainVar" href="/about">Our Team</a></h2>
        </div>
    </div>

    <div class="container container-fluid">
        <div class="row borders">
            <div class="col-lg-6 col-xl-4 col-xs-12" id="left">
                <br>
                <h2>About Us</h2>
                <p>On the surface we’re a bit of an unusual match-up – an accountant, a budding researcher and a teaching associate in neuroscience. Still, there’s one thing that makes us work and that’s our love of numbers.  We all work with them and we really, really love them! That and did we mention we’re doing a Data Analytics bootcamp together?</p>
                <br>
                <h2>Why We Did It</h2>
                <p>When coming up with a theme, it was hard to not think of Covid-19 and its impact on the world’s populations. It got us to thinking about home, our population growth over the years and predictions that it’s on track to double by 2066.  How is this happening? Is it the same in every country?
                    Excluding immigration, where is this growth coming from?  We wanted to know. So, like all good data nerds, we went looking for data and found the 2019 United Nations (UN) World Population Prospects, chock full of demographic indicators. We crunched it together and here’s our data viz “One Pager”.</p>
                <br>
                <h2>How We Did It</h2>
                <p>As with all data projects it starts with a huge amount of upfront planning and then quickly becomes about the tech. And boy, have we used some tech! Don’t just believe us, check out our Tech Page for an indepth look.</p>
                <br>
                <br>
            </div>
            <div class="col-lg-6 col-xl-8 col-xs-12 team">
                <br>
                <h2>Some things you should know about...</h2>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <img alt="Yann" src="{{ url_for('static', filename='images/Yann.png') }}" class="img-fluid">
                        <p class="Yann"><h4>Yann</h4>
                            <br>
                            <ul type="disc" style="font-size:small;">
                                <li>I am a budding researcher still trying to find my footing.</li>
                                <li>I simultaneously have too many and not enough houseplants.</li>
                                <li>Writing about myself is harder than creating this dashboard.</li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <img alt="Michelle" src="{{ url_for('static', filename='images/Michelle.png') }}" class="img-fluid">
                        <p class="Michelle"><h4>Michelle</h4>
                            <br>
                            <ul type="disc" style="font-size:small;">
                                <li>Coffee, chocolate, cheese and ice cream – all major food groups</li>
                                <li>I’m a sucker for a rescue animal – 3 dogs, 17 sheep, 4 cows, a steer and counting</li>
                                <li>I’m known for my love a good chat … well, any chat really. I could talk all day</li>
                            </ul>
                        </p>
                    </div>    
                    
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <img alt="Susov" src="{{ url_for('static', filename='images/Susov.png') }}" class="img-fluid">
                        <p class="Susov"><h4>Susov</h4>
                            <br>
                            <ul type="disc" style="font-size:small;">
                                <li>Researcher</li>
                                <li>Love to learn new things</li>
                                <li>Love to cook different cuisines. I make the best pizza!</li>
                                <li>I will watch any live sports that is on TV. </li>
                                <li>Road trips are the best thing ever!</li>
                            </ul>
                        </p>
                    </div>
                        
                </div>        
                
            </div>
        </div>    
    </div>
    <br>
    <br>
    <div class="row" id="footer">
        <div class="container text-center">
            <p><a href="https://population.un.org/wpp/" target="_blank"> Data sourced from United Nations, Department of
                    Economic and Social Affairs, Population Division (2019). World Population Prospects 2019, Online
                    Edition. Rev. 1.</a></p>
        </div>
    </div>
    <!-- ImageMap JavaScript -->
    <script src="https://unpkg.com/image-map/dist/image-map.js"></script>
    <!-- D3 JavaScript -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <!-- SweetAlert JavaScript -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>