<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>World Demographics</title>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
        <!-- Left at default -->
        <div class="container">
            <!-- Within navbar to remove horizontal padding at breakpoints below specified -->
            <!-- Create hamburger -->
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- tells bootstrap what to put in drop down menu  -->
                <ul class="navbar-nav ml-auto">
                    <!-- puts menu items to right of navbar-brand  -->
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tech">Tech</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron vertical-center">
        <div class="container text-center" id="landing">
            <br>
            <h2><a class="mainVar" href="/tech">Our Technology</a></h2>

        </div>
    </div>
    <div class="container pt-3 my-3">
        <div class="row">
            <div class="col-md-12">
                <h4 class="header">Click to see our technology and how we made it work</h4>
            </div>
        </div>

    </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <img src="{{ url_for('static', filename='images/OurTech.png') }}" class="img-fluid" usemap="#ourtech">
            <map name="ourtech">
                <area shape="poly" coords="341,587,432,600,498,599,511,590,516,631,638,629,638,604,651,605,653,629,687,630,695,729,400,734,349,703,329,654,321,625" id="Flask" onclick="changeImage(this,'Flask')">
                <area shape="rect" coords="560,439,609,611" id="JSON" onclick="changeImage(this,'JSON')">
                <area shape="rect" coords="766,610,939,657" id="JSON2" onclick="changeImage(this,'JSON')">
                <area shape="rect" coords="802,393,1211,467" id="SQLAlchemy" onclick="changeImage(this,'SQLAlchemy')">
                <area shape="rect" coords="1031,576,1383,777" id="HTML" onclick="changeImage(this,'HTML')">
                <area shape="poly" coords="851,32,888,25,925,30,958,24,976,28,1005,20,1028,24,1077,63,1064,144,1055,164,1070,168,1074,194,1045,211,1031,210,1014,263,989,283,963,282,949,247,941,220,920,220,899,215,872,218,834,140,827,63" id="PostgreSQL" onclick="changeImage(this,'PostgreSQL')">
                <area shape="rect" coords="620,141,715,250" id="CSV1" onclick="changeImage(this,'CSV')">
                <area shape="rect" coords="64,212,158,317" id="CSV2" onclick="changeImage(this,'CSV')">
                <area shape="rect" coords="75,333,163,420" id="Excel" onclick="changeImage(this,'Excel')">
                <area shape="rect" coords="307,154,498,213" id="Pandas" onclick="changeImage(this,'Pandas')">
                <area shape="rect" coords="41,30,180,173" id="UNats" onclick="changeImage(this,'UNats')">
                <area shape="poly" coords="981,707,952,737,946,721,714,720,715,689,952,688,947,673" id="Arrow1"
                    onclick="changeImage(this, 'Arrow1')">
                <area shape="poly" coords="662,595,629,570,643,566,644,465,742,465,743,450,771,481,744,511,740,500,682,498,679,568,695,571"
                    id="Arrow2" onclick="changeImage(this, 'Arrow2')">
                <area shape="poly" coords="651,269,685,269,686,374,744,375,745,362,777,394,744,422,740,408,651,409" id="Arrow3"
                    onclick="changeImage(this, 'Arrow3')">
                <area shape="poly" coords="1052,366,1018,335,1031,332,1035,278,1064,278,1069,335,1081,336" id="Arrow4"
                    onclick="changeImage(this, 'Arrow4')">
                <area shape="poly" coords="920,268,955,304,936,304,934,357,903,361,901,302,887,299"
                    id="Arrow5" onclick="changeImage(this, 'Arrow5')">
                <area shape="poly" coords="513,164,570,164,574,149,607,183,574,213,572,198,514,197" id="Arrow6"
                    onclick="changeImage(this, 'Arrow6')">
                <area shape="poly" coords="196,162,258,162,262,145,294,178,263,210,256,194,201,196" id="Arrow7"
                    onclick="changeImage(this, 'Arrow7')">
                <area shape="poly"
                    coords="783,198,816,164,818,182,907,180,907,310,926,308,893,337,857,311,876,308,872,216,816,215,813,229"
                    id="Arrow8" onclick="changeImage(this, 'Arrow8')">
            </map>
        </div>
    </div>

    <div class="row" id="footer">
        <div class="container text-center">
            <p><a href="https://population.un.org/wpp/" target="_blank"> Data sourced from United Nations, Department of
                    Economic and Social Affairs, Population Division (2019). World Population Prospects 2019, Online
                    Edition. Rev. 1.</a></p>
        </div>
    </div>

    <!-- ImageMap JavaScript -->
    <script src="https://unpkg.com/image-map/dist/image-map.js"></script>
    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <!-- D3 JavaScript -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <!-- SweetAlert JavaScript -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Plotly JavaScript -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- our JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/tech.js') }}"></script>
</body>
</html>
