<!DOCTYPE html>
<html>

<head>
    <!-- Character encoding Unicode -->
    <meta charset="UTF-8">

    <!-- Set page width to follow screen-width of device and initial zoom when page first loaded -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Data Vis Project</title>
    <html lang="en-us">

    </html>

    <!-- Bring in bootstrap stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" href="style.css"> -->

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Left at default -->
        <div class="container">
            <!-- Within navbar to remove horizontal padding at breakpoints below specified -->
            <a class="navbar-brand" href="index.html">70 Years of Population Growth</a>
            <!-- Create hamburger -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!--tells bootstrap what to put in drop down menu -->
                <ul class="navbar-nav ml-auto">
                    <!--puts menu items to right of navbar-brand -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardropdown" data-toggle="dropdown">
                            Plot
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="">Birth Rate</a>
                            <a class="dropdown-item" href="">Death Rate</a>
                            <a class="dropdown-item" href="">Age</a>
                            <a class="dropdown-item" href="">Population</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="comparison.html">Home Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="data.html">Why We Did It</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container pt-3 my-3">
        <div class="row">
            <div class="col-md-12">
                <h2 class="header">Click to See Our Technologies</h2>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <img src="..//images/OurTech.png" class="img-fluid" usemap="#ourtech">
                <map name="ourtech">
                    <area shape="rect" coords="496,258,119,108" id="Flask" onclick="changeImage(this,'Flask')">
                    <area shape="rect" coords="625,58,791,104" id="JSON" onclick="changeImage(this,'JSON')">
                    <area shape="rect" coords="632,244,798,290" id="JSON2" onclick="changeImage(this,'JSON')">
                    <area shape="rect" coords="841,400,445,317" id="SQLAlchemy"
                        onclick="changeImage(this,'SQLAlchemy')">
                    <area shape="rect" coords="1228,284,907,103" id="Html" onclick="changeImage(this,'HTML')">
                    <area shape="rect" coords="516,524,736,737" id="Postgresql" onclick="changeImage(this,'PostGreSQL')">
                    <area shape="poly" coords="541,138,834,135,836,121,860,148,836,173,832,165,543,166" id="Arrow1"
                        onclick="changeImage(this, 'Arrow1')">
                    <area shape="poly" coords="521,215,544,191,547,201,618,203,620,323,593,319,595,227,548,228,543,241" id="Arrow2"
                        onclick="changeImage(this, 'Arrow2')">
                    <area shape="poly" coords="646,443,674,416,698,443,687,444,684,507,658,508,660,442" id="Arrow3"
                        onclick="changeImage(this, 'Arrow3')">
                    <area shape="poly" coords="581,509,553,482,566,483,567,416,589,413,592,481,604,483" id="Arrow4"
                        onclick="changeImage(this, 'Arrow4')">
                    <area shape="poly" coords="411,373,391,398,388,384,314,384,315,268,339,268,340,359,385,359,389,346" id="Arrow5"
                        onclick="changeImage(this, 'Arrow5')">
                </map>
            </div>
        </div>

        <script src="https://unpkg.com/image-map/dist/image-map.js"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="../static/js/tech.js"></script>
</body>

</html>