<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Pals!</title>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="jumbotron" style="text-align: center">
            <h3 class="year">2019</h3>
        </div>
        <div class="btn-group">
            <button class="factorButton" onclick="optionChanged(this)">Population</button>
            <button class="factorButton" onclick="optionChanged(this)">Mortality Rate</button>
            <button class="factorButton" onclick="optionChanged(this)">Life Expectancy</button>
            <button class="factorButton" onclick="optionChanged(this)">Population Growth Rate</button>
            <button class="factorButton" onclick="optionChanged(this)">Birth Rate</button>
        </div>
        <div id="progress" class="progress"></div>
        <div class="row">
            <div class="col-8">
                <h2>Look at all of the current pet pals!</h2>
                <div id="map"></div>
            </div>
            <div class="col-4">
                <div id="line"></div>
                <div id="bar"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="people">
                    <img class="yann" src="{{ url_for('static',filename='images/Yann.png') }}">
                </div>
                <h2><a href="/send">Add your pet here!</a></h2>
                <div id="bar"></div>
            </div>
        </div>
    </div>

    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
    <!-- D3 JavaScript   -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- our JavaScript -->
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
</body>

</html>
