<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Changing world demographics of the past 70 years</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-custom">
        <!-- Left at default -->
        <div class="container">
            <!-- Within navbar to remove horizontal padding at breakpoints below specified -->
            <!-- Create hamburger -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!--tells bootstrap what to put in drop down menu -->
                <ul class="navbar-nav ml-auto">
                    <!--puts menu items to right of navbar-brand -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardropdown" data-toggle="dropdown">
                            Plot
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="Life_expectancy.html">Life Expectancy</a>
                            <a class="dropdown-item" href="Crude_death.html">Crude Death</a>
                            <a class="dropdown-item" href="Crude_birth.html">Crude Birth</a>
                            <a class="dropdown-item" href="Population_growth.html">Population Growth</a>
                            <a class="dropdown-item" href="age.html">Age(mortality)</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="landing_page.html">Home Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="our_team.html">Why We Did It</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </div>


    <div class="jumbotron vertical-center">
        <div class="container text-center" id="landing">
            <h1><a href="index.html" >Changing demographics</a></h1><br>
        </div>
    </div>




    <div class="container">
        <div class="row borders">
            <div class="col-lg-8" id="left" style="padding-right:20px; border-right: 1px solid #000000;">
                Life Expectancy
            </div>
            <div class="col-lg-4">
                <div class="row" id = "top-right">Australia: Life Expectancy</div>
                <div class="row" id = "bottom-right">Top 5: Life Expectancy</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="footer">
            <p>About us.</p>
        </div>
    </div>

    <script src="https://unpkg.com/image-map/dist/image-map.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/tech.js"></script>
</body>
</html>